# 序列构成的书数组

## 2.1 内置序列类型概述

依照存放内容分类：
+ 容器序列： 存放所包含的任意类型的对象的引用
list, tuple, collections.deque
+ 扁平序列： 存放的是值而不是引用，是一段连续的内存空间。
str, bytes, bytearray, memoryview, array.array

依照是否可以改变分类：
+ 可变序列
list, bytearray, array.array, collections.deque, memoryview
+ 不可变序列
tuple, str, bytes

## 2.2 列表推导和生成器表达式

### 2.2.1 列表推导和可读性

In [7]:
symbols = 'CDEFGAB'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))

In [8]:
codes

[67, 68, 69, 70, 71, 65, 66]

In [11]:
codes_a = [ord(symbol) for symbol in symbols]

In [12]:
codes_a

[67, 68, 69, 70, 71, 65, 66]

In [15]:
x = 'this is test'
dummy = [x for x in 'CDEFGAB']
x,dummy

('this is test', ['C', 'D', 'E', 'F', 'G', 'A', 'B'])

### 2.2.2 列表推导同filter,map 比较
### 2.2.3 笛卡尔积

### 2.2.4 生成器表达式

## 2.3 元组不仅仅是不可变的列表

### 2.3.1 元组与记录

In [20]:
lax_coordinates = (33.123,-10912.232)
city,year,pop,chg,area = ('Tokyo',2003,32450, 0.66, 8014)
traveler_ids = [('USA','43223123'),('BRA','CEERE012'),('ESP','XDA205856')]

In [21]:
for passport in sorted(traveler_ids):
    print('%s/%s' %passport)

BRA/CEERE012
ESP/XDA205856
USA/43223123

### 2.3.2 元组拆包

In [2]:
lax = (11,123)
a, b = lax
a, b = b,a 
a,b

(123, 11)

In [3]:
divmod(20,8)

(2, 4)

In [4]:
help(divmod)

Help on built-in function divmod in module builtins:

divmod(x, y, /)
    Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.

In [5]:
a,b,*rest = range(5)

In [8]:
a,b, rest

(0, 1, [2, 3, 4])

In [10]:
a, *body,c,d  = range(5)

In [12]:
a, body,c,d

(0, [1, 2], 3, 4)

### 2.3.3 嵌套元组拆包

In [16]:
metro_areas = [
    ('Tokyo', 'JP', 36, (35, -139)),
    ('Delhi NCR', 'IN', 361, (351, -139)),
    ('Mexico City', 'MX', 36, (35, -123123.123)),
    ('New York-Newark', 'US', 36, (35, -139)),
    ('Sao Paulo', 'US', 36, (35, 139))
]
print('{:15} | {:^9} | {:^9}'.format('','lat.','long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name , cc,pop, (lat, long) in metro_areas:
    if long <= 0:
        print(fmt.format(name, lat, long))

                |   lat.    |   long.
Tokyo           |   35.0000 | -139.0000
Delhi NCR       |  351.0000 | -139.0000
Mexico City     |   35.0000 | -123123.1230
New York-Newark |   35.0000 | -139.0000

In [17]:
### 2.3.4 具名元组

In [31]:
from collections import namedtuple
City = namedtuple('City','name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.0, (35.234, 139.221))

In [32]:
tokyo

City(name='Tokyo', country='JP', population=36.0, coordinates=(35.234, 139.221))

In [33]:
tokyo.coordinates

(35.234, 139.221)

In [34]:
tokyo.country,tokyo[1]

('JP', 'JP')

In [35]:
City._fields

('name', 'country', 'population', 'coordinates')

In [38]:
Latlong = namedtuple('Latlong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, Latlong(23.1212,88.123))

In [39]:
delhi = City._make(delhi_data)

In [40]:
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=Latlong(lat=23.1212, long=88.123))

In [41]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', Latlong(lat=23.1212, long=88.123))])

In [45]:
for a in delhi._asdict().items():
    print(a)

('name', 'Delhi NCR')
('country', 'IN')
('population', 21.935)
('coordinates', Latlong(lat=23.1212, long=88.123))

### 2.3.5 作为不可变列表的元组

## 2.4 切片

In [52]:
l = [1,2,3,4,5,6]
l[:2]

[1, 2]

In [53]:
l[2:]

[3, 4, 5, 6]

In [58]:
l[:6]

[1, 2, 3, 4, 5, 6]

### 2.4.2 对象切片

In [60]:
s ='bicycle'
s[::3]

'bye'

In [61]:
s[::-1]

'elcycib'

In [62]:
s[:-2]

'bicyc'

### 2.4.3 多维切片和省略

In [65]:
l = list(range(10))

In [66]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
l[2:5]=[20,30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [68]:
del l[5:7]

In [69]:
l

[0, 1, 20, 30, 5, 8, 9]

In [70]:
## 2.5 字符串的拼接

In [71]:
l = [1, 2, 3]
l*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [72]:
5*'abcd'

'abcdabcdabcdabcdabcd'

In [73]:
borad = [['']*3 for i in range(3)]

In [74]:
borad

[['', '', ''], ['', '', ''], ['', '', '']]

In [75]:
borad[1][2] ='X'

In [76]:
borad

[['', '', ''], ['', '', 'X'], ['', '', '']]

In [77]:
t = (1,2,[30,40])

In [78]:
t[2] += [50,60]

TypeError: 'tuple' object does not support item assignment

In [79]:
t

(1, 2, [30, 40, 50, 60])

In [81]:
from dis import dis

In [82]:
dis('t[2] += [50,60]')

  1           0 LOAD_NAME                0 (t)
              3 LOAD_CONST               0 (2)
              6 DUP_TOP_TWO
              7 BINARY_SUBSCR
              8 LOAD_CONST               1 (50)
             11 LOAD_CONST               2 (60)
             14 BUILD_LIST               2
             17 INPLACE_ADD
             18 ROT_THREE
             19 STORE_SUBSCR
             20 LOAD_CONST               3 (None)
             23 RETURN_VALUE

In [83]:
dis('t = (1,2,[30,40]);t[2] += [50,60]')

  1           0 LOAD_CONST               0 (1)
              3 LOAD_CONST               1 (2)
              6 LOAD_CONST               2 (30)
              9 LOAD_CONST               3 (40)
             12 BUILD_LIST               2
             15 BUILD_TUPLE              3
             18 STORE_NAME               0 (t)
             21 LOAD_NAME                0 (t)
             24 LOAD_CONST               1 (2)
             27 DUP_TOP_TWO
             28 BINARY_SUBSCR
             29 LOAD_CONST               4 (50)
             32 LOAD_CONST               5 (60)
             35 BUILD_LIST               2
             38 INPLACE_ADD
             39 ROT_THREE
             40 STORE_SUBSCR
             41 LOAD_CONST               6 (None)
             44 RETURN_VALUE

## 2.7 list.sort 方法和内置函数sorted

In [93]:
import random
l = [random.randint(0,10) for i in range(10)]

In [94]:
l

[8, 2, 4, 7, 3, 3, 8, 4, 1, 1]

In [95]:
l.sort()

In [96]:
l

[1, 1, 2, 3, 3, 4, 4, 7, 8, 8]

In [101]:
l = [random.randint(0,10) for i in range(10)]
print(l)

[2, 9, 5, 0, 9, 4, 5, 6, 0, 8]

In [102]:
sorted(l)

[2, 9, 5, 0, 9, 4, 5, 6, 0, 8]

In [103]:
print(l)

[2, 9, 5, 0, 9, 4, 5, 6, 0, 8]

## 2.8 用bisect管理已排序的序列

### 2.8.1 用bisect来搜索

In [22]:
import bisect
import sys
HAYSTACK = [1,4,5,6,8,12,15,20,21,23,23,26,29,30]
NEEDLES = [0,1,2,5,8,10,22,23,29,30,31]
ROW_FMT= '{0:2d} @ {1:2d}    {2}{0:<2d}'
def demo(bisect_fn):
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK, needle)
        offset = position * '  |'
        print(ROW_FMT.format(needle, position, offset))

if __name__ == '__main__':
    if sys.argv[-1] == 'left':
        bisect_fn = bisect.bisect_left
    else:
        bisect_fn = bisect.bisect
    
    print('DEMO', bisect_fn.__name__)
    print('haystack ->', ' '.join('%2d'%n for n in HAYSTACK))
    demo(bisect_fn)

DEMO bisect
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |31
30 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |30
29 @ 13      |  |  |  |  |  |  |  |  |  |  |  |  |29
23 @ 11      |  |  |  |  |  |  |  |  |  |  |23
22 @  9      |  |  |  |  |  |  |  |  |22
10 @  5      |  |  |  |  |10
 8 @  5      |  |  |  |  |8
 5 @  3      |  |  |5
 2 @  1      |2
 1 @  1      |1
 0 @  0    0

In [23]:
def grade(score, breakpoints=[60,70,80,90], grades='FDCBA'):
    i = bisect.bisect(breakpoints, score)
    return grades[i]
[grade(score) for score in [33, 99, 77, 70, 89, 90, 100]]

['F', 'A', 'C', 'C', 'B', 'A', 'A']

In [40]:
import bisect
import random

SIZE = 7

random.seed(2)

my_list = []
for i in range(SIZE):
    new_item = random.randrange(SIZE * 2)
    bisect.insort(my_list, new_item)
    print('%2d ->' %new_item, my_list)

13 -> [13]
13 -> [13, 13]
 0 -> [0, 13, 13]
 1 -> [0, 1, 13, 13]
 1 -> [0, 1, 1, 13, 13]
 5 -> [0, 1, 1, 5, 13, 13]
13 -> [0, 1, 1, 5, 13, 13, 13]

## 2.9 当列表不是首选时

### 2.9.1 数组

In [43]:
from array import array
from random import random
floats = array('d', (random() for i in range(10**7)))

In [46]:
floats[:10]

array('d', [0.5637653479020933, 0.8083047657274797, 0.535254850427991, 0.8980650996366711, 0.31363919837375054, 0.12081378026986545, 0.48398445408778346, 0.4133791645469286, 0.6999090207161017, 0.7579599038080218])

In [47]:
fp = open('floats.bin', 'wb')
floats.tofile(fp)

In [49]:
fp.close()

In [50]:
10**7

10000000